body {
	margin: 0px;
	height:100%;
	font-family: Tahoma;
}

div#graphapp {
	position: relative;
}

div#header {
	background: url(../logo.png) no-repeat right center;
	height: 36px;
	width: 100%;
	background-color: #439D2A;
}

div#tools {
	height: 40px;
	width: 100%;
	background-color: #FFFFFF;
}

#tools a {
	display: block;
	float: left;
	background: no-repeat center center;
	width: 26px;
	height: 26px;
	padding: 3px;
	margin: 3px;
	border: 1px solid #FFFFFF;
}

#tools a:hover {
	border: 1px solid #888888;
}

#tools span {
	width: 30px;
	float: left;
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

div#graph  {
	position: absolute;
	width: 100%;
	top: 76px;
	bottom: 20px;
	clear: left;
}

div#graphinline  {
	position: absolute;
	width: 100%;
	top: 40px;
	bottom: 20px;
	clear: left;
}

div#palette  {
	position: absolute;
	height: 20px;
	width: 100%;
	background-color: #439D2A;
	bottom: 0;
}
